{% extends 'base.html.twig' %}

{% block title %}Humeur{% endblock %}

{% block body %}
<blockquote>
    {% if app.user.mantra %}
    {{ app.user.mantra }}
    {% else %}
    Bienvenue sur votre journal de bord !
    {% endif %}
</blockquote>

<br><br>

<div class="auto-margin-container">
    {% if moodAverage %}
    <p class="center-align flow-text display-2">Bonjour {{ app.user.pseudo }} ! Selon vos données, vous êtes
        majoritairement {{ moodAverage|capitalize|lower }}.
    </p>
    {% endif %}
</div>

<br><br>

{% include "stats/index.html.twig" with {
'labels': labels,
'moodData': moodData
} %}

<br><br>

{% if app.user.routineContainer.routines %}
<h4>
    Vous avez <span class="green-text">{{ app.user.routineContainer.routines|length }}</span> 
    {{ app.user.routineContainer.routines|length == 1 ? 'routine' : 'routines' }} en cours
</h4>
    
{% else %}
    
<h4>Vous n'avez pas encore créé de routine.</h4>
{% endif %}

<br><br>

{% if goals is not empty %}
    <h4>Actuellement 
        <span class="green-text">{{ attainedGoals }}</span> 
        {{ attainedGoals == 1 ? 'objectif atteint' : 'objectifs atteints' }}
        sur {{ totalGoals }} 
        {{ totalGoals == 1 ? 'objectif' : 'objectifs' }}
    </h4>
{% else %}
    <h4>Vous n'avez pas encore défini d'objectifs</h4>
    <br>
    <a href="{{ path('goal_new') }}" class="custom-btn">Ajouter un objectif</a>
{% endif %}

<br><br>

{% endblock %}