{% extends 'base.html.twig' %}

{% block title %}Journal de bord{% endblock %}

{% block body %}

<blockquote>
    Rien de tel qu'un journal de bord pour envoyer une bouteille à la mer ! À moins que quelque part, quelqu'un vous
    épie.
</blockquote>

<div class="auto-margin-container">
    <h1>Journal de bord</h1>
    <div class="container-flex-center">

        {% if bookContents|length <= 1 %} <p id="counter-documents">Vous avez à ce jour <span>{{
                bookContents|length
                }}</span> document rédigé.</p>
            {% else %}
            <p id="counter-documents">Vous avez à ce jour <span>{{ bookContents|length }}</span> documents
                rédigés.</p>
            {% endif %}
    </div>
    <div class="container-flex-between-bottom">
        <div></div>
        <div>
            <a href="{{ path('book_content_new')}}" class="custom-btn">Ajouter du contenu</a>
        </div>
    </div>

    <div class="divider"></div>

    <br><br>

    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('assets/images/livre-ouvert.png') }}"></div>
    </div>

    <br>

    <div class="book-container">
        <h3>Vos dernières entrées</h3>

        {% for content in bookContents %}

        <div class="container-inline">
            {% if content.updatedAt %}
            <h5>{{ content.updatedAt|format_datetime('full', 'none', locale='fr') }}</h5>
            {% else %}
            <h5>Le {{ content.createdAt|format_datetime('full', 'none', locale='fr') }}</h5>
            {% endif %}
        </div>

        <div class="content">
            <p>{{ content.content }}</p>
            <div class="btn-control-flex">
                <a href="{{ path('book_content_edit', {id:content.id}) }}"><i class="material-icons">sync</i></a>
                <div class="margin-left-20"></div>
                <a href="{{ path('book_content_delete', {'id':content.id}) }}"
                    onclick="return confirm('Supprimer cet élément ?');"><i
                        class="material-icons red-text">delete_forever</i></a>
            </div>
        </div>
        <br><br>
        {% endfor %}
    </div>

    <div class="container-flex-between">
        <div></div>
        <div class="paginator">
            {{ knp_pagination_render(bookContents) }}
        </div>
    </div>
</div>
{% endblock %}