{% extends 'base.html.twig' %}

{% block title %}Journal de bord{% endblock %}

{% block body %}
<div class="book">
    <h1>Journal de bord</h1>

    <hr class="hr">

    <div class="container-inline">
        <a href="{{ path('book_content_new')}}" class="custom-btn">Ajouter du contenu</a>
        <p id="counter-documents">Vous avez à ce jour <span>{{ bookContents|length }}</span> documents rédigés.</p>
    </div>
        
    <hr class="hr">

    {% for content in bookContents %}

    <div class="container-inline">
        {% if content.updatedAt %}
        <h5>Le {{ content.updatedAt|date("d/m/Y") }}</h5>
        {% else %}
        <h5>Le {{ content.createdAt|date("d/m/Y") }}</h5>
        {% endif %}

        <div class="btn-control-flex">
            <a href="{{ path('book_content_edit', {id: content.id}) }}" class="custom-btn">Modifier</a>
            
            {% include "book_content/_delete_form.html.twig" %}
        </div>
    </div>

    <div class="content">
        <p>{{ content.content }}</p>
    </div>

    {% endfor %}
</div>
{% endblock %}