{% extends "base.html.twig" %}

{% block title %}Ma santé{% endblock %}

{% block body %}

<blockquote>
    Fini les mots, place aux maux. Le profil santé résume toutes vos misères physiques en un seul endroit, vous
    permettant ainsi de contempler l'effondrement de votre bien-être.
</blockquote>

<h1>Mon profil santé</h1>

{# Poids #}
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    {% if weights %}
                    <span class="card-title card-title-center">
                        <img src="{{ asset('assets/icons/weight.png') }}" alt="balance">
                    </span>
                    {% else %}
                    <span class="card-title">Mon poids</span>
                    {% endif %}

                    {% if weights %}
                    <span>
                        {% if isHigher %}
                        <i class="material-icons red-text">arrow_upward</i>
                        {% else %}
                        <i class="material-icons green-text">arrow_downward</i>
                        {% endif %}
                    </span>
                    {% endif %}
                </div>
                <p>
                    {% if weights|length > 0 %}
                <div class="flex-table">
                    <table class="weight-table">
                        <tbody>
                            {% for weight in weights %}
                            <tr>
                                <td class="dark-text">
                                    {{ weight.date|format_datetime('full', 'none', locale='fr') }}
                                </td>
                                <td class="more-strong-text">
                                    {% if weight.weight|round(2, 'floor') == weight.weight|round(0,
                                    'floor') %}
                                    {{ weight.weight|round(0, 'floor') }} kg
                                    {% else %}
                                    {{ weight.weight }} kg
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('health_weight_delete', {'id':weight.id}) }}"
                                        class="link-btn-danger"><i
                                            class="material-icons red-text">delete_forever</i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                Aucune donnée enregistrée pour le moment
                {% endif %}
                </p>
            </div>
            <div class="card-action">
                <a href="{{ path('health_weight_new') }}" class="custom-btn">Ajouter</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {# Taille #}
    <div class="col s6 m6 l6">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    {% if height %}
                    <span class="card-title card-title-center">
                        <img src="{{ asset('assets/icons/height.png') }}" alt="taille">
                    </span>
                    {% else %}
                    <span class="card-title">Ma taille</span>
                    {% endif %}
                </div>
                {% if height %}
                <div class="container-flex-center">
                    <h5 class="more-strong-txt">{{ formatedHeight }}</h5>
                </div>
                {% else %}
                Non renseignée
                {% endif %}
            </div>
            <div class="card-action">
                <div class="container-flex-center">
                    {% if height %}
                    <a href="{{ path('health_height_edit', {'id':height.id}) }}"><i class="material-icons">sync</i></a>
                    <a href="{{ path('health_height_delete', {'id':height.id}) }}"
                        onclick="return confirm('Supprimer votre taille ?');" class=""><i
                            class="material-icons red-text">delete_forever</i></a>
                    {% else %}
                    <a href="{{ path('health_height_new') }}" class="custom-btn">Ajouter</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

 
</div>
   {# IMC #}
   <div class="col s6 m6 l6">
    {% include "common/imc.html.twig" %}
</div>
<div class="row">
    {# Vaccins #}
    <div class="col s12 m12 l12">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    {% if vaccines %}
                    <span class="card-title card-title-center">
                        <img src="{{ asset('assets/icons/vaccine.png') }}" alt="vaccin">
                    </span>
                    {% else %}
                    <span class="card-title">Vaccins</span>
                    {% endif %}
                </div>
                {% if vaccines|length > 0 %}
                <table class="centered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Rappel</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vaccine in vaccines %}
                        <tr>
                            <td>{{ vaccine.injectionDate|format_datetime('full', 'none', locale='fr') }}</td>
                            <td>{{ vaccine.title }}
                            </td>
                            <td>{{ vaccine.deadlineDate|format_datetime('full', 'none', locale='fr') }}
                            </td>
                            <td>
                                <a href="{{ path('health_vaccine_delete', {'id':vaccine.id}) }}"
                                    onclick="return confirm('Supprimer ce vaccin ?');"><i
                                        class="material-icons red-text">delete_forever</i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                Aucune donnée enregistrée pour le moment
                {% endif %}
            </div>
            <div class="card-action">
                <a href="{{ path('health_vaccine_new') }}" class="custom-btn">Ajouter</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {# Groupe sanguin #}
    <div class="col s4 m4 l3">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    {% if bloodType %}
                    <span class="card-title card-title-center">
                        <img src="{{ asset('assets/icons/blood.png') }}" alt="sang">
                    </span>
                    {% else %}
                    <span class="card-title">Groupe sanguin</span>
                    {% endif %}
                </div>
                {% if bloodType %}
                <div class="container-flex-center">
                    <h5 class="more-strong-txt">{{ bloodType.value }}</h5>
                </div>
                {% else %}
                Non renseigné
                {% endif %}
            </div>
            <div class="card-action">
                <div class="container-flex-center">
                    {% if bloodType %}
                    <a href="{{ path('health_blood_type_edit', {'id':bloodType.id}) }}"><i
                            class="material-icons">sync</i></a>
                    <a href="{{ path('health_blood_type_delete', {'id':bloodType.id}) }}"
                        onclick="return confirm('Supprimer votre groupe sanguin ?');" class=""><i
                            class="material-icons red-text">delete_forever</i></a>
                    {% else %}
                    <a href="{{ path('health_blood_type_new') }}" class="custom-btn">Ajouter</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{# Maladies/handicaps #}
<div class="col s8 m8 l9">
    <div class="card white">
        <div class="card-content dark-text max-height-container">
            <div class="container-flex-between">
                {% if healthConditions|length > 0 %}
                <span class="card-title card-title-center">
                    <img src="{{ asset('assets/icons/healthcare.png') }}" alt="sante">
                </span>
                {% else %}
                <span class="card-title">Handicaps/Maladies/Allergies</span>
                {% endif %}
            </div>
            {% if healthConditions %}
            {% for healthCondition in healthConditions %}
            <div class="container-flex-between">
                <span class="more-strong-txt">
                    {{ healthCondition.title }}
                </span>
                <a href="{{ path('health_condition_delete', {'id':healthCondition.id}) }}"
                    onclick="return confirm('Supprimer cette condition ?');">
                    <i class="material-icons red-text">delete_forever</i>
                </a>
            </div>
            <br>
            {% endfor %}
            {% else %}
            Aucune donnée enregistrée pour le moment
            {% endif %}
        </div>
        <div class="card-action">
            <a href="{{ path('health_condition_new') }}" class="custom-btn">Ajouter</a>
        </div>
    </div>
</div>

<div class="row">
    {# Traitement #}
    <div class="col s12 m12 l12">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    {% if medications %}
                    <span class="card-title card-title-center">
                        <img src="{{ asset('assets/icons/drugs.png') }}" alt="medicaments">
                    </span>
                    {% else %}
                    <span class="card-title">Traitements</span>
                    {% endif %}

                </div>
                {% if medications is not empty %}
                <table class="centered">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Psologie</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for medication in medications %}
                        <tr>
                            <td>{{ medication.name }}</td>
                            <td>{{ medication.dosage }}</td>
                            <td>
                                <a href="{{ path('health_medication_delete', {'id':medication.id}) }}" class=""
                                    onclick="return confirm('Supprimer ce traitement ?');"><i
                                        class="material-icons red-text">delete_forever</i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                Aucun traitement enregistré
                {% endif %}
                <div class="card-action">
                    <a href="{{ path('health_medication_new') }}" class="custom-btn">Ajouter</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}