{% extends "base.html.twig" %}

{% block title %}Ma santé{% endblock %}

{% block body %}

<blockquote>
    Fini les mots, place aux maux. Ce profil santé résume toutes vos misères physiques en un seul endroit, vous permettant ainsi de contempler l'effondrement de votre bien-être.
</blockquote>

<h1>Mon profil santé</h1>

{# Poids #}
<div class="row">
    <div class="col s12 m8 l5">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    <span class="card-title">Mon poids</span>
                    {% if weights %}
                    <span>
                        {% if isHigher %}
                        <i class="material-icons red-text">arrow_upward</i>
                        {% else %}
                        <i class="material-icons green-text">arrow_downward</i>
                        {% endif %}
                    </span>
                    {% endif %}
                </div>
                <p>
                    {% if weights|length > 0 %}
                <ul class="ul-weight-container">
                    {% for weight in weights %}
                    <div class="container-flex-between">
                        <li class="dark-text">
                            Le {{ weight.date|date('d-m-Y') }} :
                        </li>
                        <span class="more-strong-txt">
                            {% if weight.weight|round(2, 'floor') == weight.weight|round(0,
                            'floor') %}
                            {{ weight.weight|round(0, 'floor') }} kg
                            {% else %}
                            {{ weight.weight }} kg
                            {% endif %}
                        </span>
                        <a href="{{ path('health_weight_delete', {'id':weight.id}) }}"
                            class="link-btn-danger margin-right-m1"><i
                                class="material-icons red-text">delete_forever</i></a>
                    </div>
                    <br>
                    {% endfor %}
                </ul>
                {% else %}
                Aucune donnée enregistrée pour le moment
                {% endif %}
                </p>
            </div>
            <div class="card-action">
                <a href="{{ path('health_weight_new') }}">Ajouter</a>
            </div>
        </div>
    </div>

    {# Taille #}
    <div class="col s6 m4 l4">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    <span class="card-title">Taille</span>
                </div>
                {% if height %}
                <div class="container-flex-center">
                    <h5 class="more-strong-txt">{{ formatedHeight }}</h5>
                </div>
                {% else %}
                Non renseignée
                {% endif %}
            </div>
            <div class="card-action">
                <div class="container-flex-center">
                    {% if height %}
                    <a href="{{ path('health_height_delete', {'id':height.id}) }}" class="disabled"><i
                            class="material-icons red-text">delete_forever</i></a>
                    {% else %}
                    <a href="{{ path('health_height_new') }}">Ajouter</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {# IMC #}
    {% include "common/imc.html.twig" %}
</div>

<div class="row">
    {# Vaccins #}
    <div class="col s12 m12 l12">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    <span class="card-title">Vaccins</span>
                </div>
                {% if vaccines|length > 0 %}
                <table class="centered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Rappel</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vaccine in vaccines %}
                        <tr>
                            <td>{{ vaccine.injectionDate|date('m/Y') }}</td>
                            <td>{{ vaccine.title }}
                            </td>
                            <td>{{ vaccine.deadlineDate|date('m/Y') }}
                            </td>
                            <td>
                                <a href="{{ path('health_vaccine_delete', {'id':vaccine.id}) }}"
                                    onclick="return confirm('Supprimer ce vaccin ?');"><i
                                        class="material-icons red-text">delete_forever</i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                Aucune donnée enregistrée pour le moment
                {% endif %}
            </div>
            <div class="card-action">
                <a href="{{ path('health_vaccine_new') }}">Ajouter</a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    {# Groupe sanguin #}
    <div class="col s6 m6 l3">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    <span class="card-title">Groupe sanguin</span>
                </div>
                {% if bloodType %}
                <div class="container-flex-center">
                    <h5 class="more-strong-txt">{{ bloodType.value }}</h5>
                </div>
                {# <div class="card-action">
                    <div class="container-flex-center">
                        <a href="{{ path('health_blood_type_delete', {'id':bloodType.id}) }}" class="disabled"><i
                                class="material-icons red-text">delete_forever</i></a>
                    </div>
                </div> #}
                {% else %}
                Non disponible
                <div class="card-action">
                    <a href="{{ path('health_blood_type_new') }}">Ajouter</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {# Traitement #}
    <div class="col s6 m6 l9">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    <span class="card-title">Traitements</span>
                </div>
                {% if medications is not empty %}
                <table class="centered">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Psologie</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for medication in medications %}
                        <tr>
                            <td>{{ medication.name }}</td>
                            <td>{{ medication.dosage }}</td>
                            <td>
                                <a href="{{ path('health_medication_delete', {'id':medication.id}) }}" class=""
                                    onclick="return confirm('Supprimer ce traitement ?');"><i
                                        class="material-icons red-text">delete_forever</i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                Aucun traitement enregistré
                {% endif %}
                <div class="card-action">
                    <a href="{{ path('health_medication_new') }}">Ajouter</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}