{% extends 'base.html.twig' %}

{% block title %}Dates index{% endblock %}

{% block body %}
<div class="container-flex-between">
    <h1>Dates</h1>
    <a href="{{ path('date_index') }}">Vue créateur</a>
</div>

<hr>
<br>

{% if dates %}

<div class="date-guest-container">
    <ul>
        {% set previous_year = null %}
        {% for date in dates %}
        {% set year = date.date|date('Y') %}
        {% if previous_year is null or previous_year != year %}
        {% if previous_year is not null %}
</div>
{% endif %}
<li>
    <div class="header">
        <h5>{{ year }}</h5>
    </div>
    <div class="body">
        <span>
            {% endif %}
            <strong class="more-strong-txt">Date :</strong> <span class="span-txt">{{ date.date|date('d-m-Y')
                }}</span>
            <br>
            <strong class="more-strong-txt">Événement :</strong><span class="span-txt"> {{ date.event }}</span>
            <br>
            {% if date.comment %}
            <strong class="more-strong-txt">Commentaire :</strong><span class="span-txt"> {{ date.comment }}</span>
            {% endif %}

            <br>
            <br>

            {% set previous_year = year %}
            {% if loop.last %}
        </span>
    </div>
</li>
{% endif %}
{% endfor %}
</ul>
</div>

{% else %}

<h2>Vous n'avez aucune date enregistrée.</h2>

{% endif %}

<br>

<a href="{{ path('date_new') }}" class="custom-btn">Créer une nouvelle date</a>
{% endblock %}