{% extends 'base.html.twig' %}

{% block title %}Dates index{% endblock %}

{% block body %}
<div class="container-flex-between">
    <h1>Dates</h1>

    <div>
        <a href="{{ path('date_new') }}" class="custom-btn">Créer une date</a>
        <a href="{{ path('date_index_guest') }}" class="custom-btn">Vue invité</a>
    </div>
</div>

{% if dates %}

<ul class="collapsible date-container">
    {% set previous_year = null %}
    {% for date in dates %}
    {% set year = date.date|date('Y') %}
    {% if previous_year is null or previous_year != year %}
    {% if previous_year is not null %}
    </div>
    {% endif %}
    <li>
        <div class="collapsible-header">
            <h5>{{ year }}</h5>
        </div>
        <div class="collapsible-body">
            <span>
                {% endif %}
                <strong class="more-strong-txt">Date :</strong> <span class="span-txt">{{ date.date|date('d-m-Y') }}</span>
                <br>
                <strong class="more-strong-txt">Événement :</strong><span class="span-txt"> {{ date.event }}</span>
                <br>
                <strong class="more-strong-txt">Commentaire :</strong><span class="span-txt"> {{ date.comment }}</span>

                <br>
                <br>

                <div class="btn-control-flex">
                    <a href="{{ path('date_edit', {'dateId':date.id}) }}" class="custom-btn">Modifier</a>
                    <br>
                    <br>
                    <form action="{{ path('date_delete', {'id': date.id}) }}" method="post"
                        onsubmit="return confirm('Supprimer cet élément ?');">
                        <button type="submit" class="custom-btn btn-danger">Supprimer</button>
                    </form>
                </div>

                <br>
                <br>

                {% set previous_year = year %}
                {% if loop.last %}
            </span>
        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% else %}

<h2>Vous n'avez aucune date enregistrée.</h2>

{% endif %}

<br><br>

{% endblock %}