{% extends 'base.html.twig' %}

{% block title %}Date{% endblock %}

{% block body %}
    <h1>Date</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ date.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ date.date ? date.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Event</th>
                <td>{{ date.event }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ date.comment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('date_index') }}">back to list</a>

    <a href="{{ path('date_edit', {'id': date.id}) }}">edit</a>

    {{ include('date/_delete_form.html.twig') }}
{% endblock %}
