<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}My Diary{% endblock %}</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="{{ asset('assets/icons/favicon.png') }}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    {% block stylesheets %}
    {% endblock %}
</head>

<body>
    {# Loading animation #}
    <div class="animation-loading-container">
        <div class="lds-dual-ring"></div>
    </div>

    {# NAV #}
    {# {% include "nav/nav.html.twig" %} #}
    {{ render(controller('App\\Controller\\HomeController::navbar')) }}

    {# Flash messages #}
    <div class="flash-container">
        {% for label, messages in app.flashes %}
        {% for message in messages %}

        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endfor %}
    </div>

    {% block body %}{% endblock %}

    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>
    <script src="{{ asset('script.js') }}"></script>
    {% endblock %}
</body>

</html>