{% extends 'base.html.twig' %}

{% block title %}{{ friendUser.pseudo }}{% endblock %}

{% block body %}
<blockquote>
    Entrez dans le monde tumultueux et parfois dramatique de le journal de {{ friendUser.pseudo }}, où les péripéties de la vie quotidienne
    sont exposées avec une sincérité désarmante
</blockquote>
<div class="book">
    <h4>Journal de {{ friendUser.pseudo }}</h4>

    <hr class="hr">

    <div class="container-inline">
        {% if bookContents|length <= 1 %} <p id="counter-documents"><span>{{ bookContents|length }}</span> document
            rédigé.</p>
            {% else %}

            <p id="counter-documents"><span>{{ bookContents|length }}</span> documents rédigés.</p>

            {% endif %}

    </div>

    <hr class="hr">

    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('assets/images/livre-ouvert.png') }}"></div>
    </div>

    <br>

    {% for content in bookContents %}

    <div class="container-inline">
        {% if content.updatedAt %}
        <h5>Le {{ content.updatedAt|date("d/m/Y") }}</h5>
        {% else %}
        <h5>Le {{ content.createdAt|date("d/m/Y") }}</h5>
        {% endif %}

    </div>

    <div class="content">
        <p>{{ content.content }}</p>
    </div>

    {% endfor %}
</div>

<br><br>

<a href="{{ path('friend_profile_index', {'user2':friendUser.id}) }}" class="custom-btn">Revenir au profil</a>

{% endblock %}