{% extends "base.html.twig" %}

{% block title %}Santé de {{ friendUser.pseudo }}{% endblock %}

{% block body %}
<blockquote>
    Explorez les détails de sa santé avec sérieux et minutie, où chaque symptôme est consigné avec précision pour mieux
    comprendre son état de bien-être.
</blockquote>
<h1>Profil santé de {{ friendUser.pseudo }}</h1>

<div class="row">
    {# Poids #}
    <div class="col s12 m8 l5">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    <span class="card-title">Poids</span>
                </div>
                <p>
                    {% if weights|length > 0 %}
                <ul class="ul-weight-container">
                    {% for weight in weights %}
                    <div class="container-flex-between">
                        <li class="dark-text">
                            {{ weight.date|format_datetime('full', 'none', locale='fr') }} :
                        </li>
                        <span class="more-strong-txt">
                            {% if weight.weight|round(2, 'floor') == weight.weight|round(0,
                            'floor') %}
                            {{ weight.weight|round(0, 'floor') }} kg
                            {% else %}
                            {{ weight.weight }} kg
                            {% endif %}
                        </span>
                    </div>
                    <br>
                    {% endfor %}
                </ul>
                {% else %}
                Aucune donnée enregistrée pour le moment
                {% endif %}
                </p>
            </div>
        </div>
    </div>

    {# Taille #}
    <div class="col s6 m4 l4">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    <span class="card-title">Taille</span>
                </div>
                {% if height %}
                <div class="container-flex-center">
                    <h5 class="more-strong-txt">{{ formatedHeight }}</h5>
                </div>
                {% else %}
                Non renseignée
                {% endif %}
            </div>
        </div>
    </div>

    {# IMC #}
    {% include "common/imc.html.twig" %}
</div>

<div class="row">
    {# Vaccins #}
    <div class="col s12 m12 l12">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    <span class="card-title">Vaccins</span>
                </div>
                {% if vaccines|length > 0 %}
                <table class="centered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Rappel</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vaccine in vaccines %}
                        <tr>
                            <td>{{ vaccine.injectionDate|format_datetime('full', 'none', locale='fr') }}</td>
                            <td>{{ vaccine.title }}
                            </td>
                            <td>{{ vaccine.deadlineDate|format_datetime('full', 'none', locale='fr') }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                Aucune donnée enregistrée pour le moment
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    {# Groupe sanguin #}
    <div class="col s6 m4 l3">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    <span class="card-title card-title-center">
                        <img src="{{ asset('assets/icons/blood.png') }}" alt="">
                    </span>
                </div>
                {% if bloodType %}
                <div class="container-flex-center">
                    <h5 class="more-strong-txt">{{ bloodType.value }}</h5>
                </div>
                {% else %}
                Non disponible
                {% endif %}
            </div>
        </div>
    </div>

    {# Traitement #}
    <div class="col s6 m6 l9">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    <span class="card-title">Traitements</span>
                </div>
                {% if medications is not empty %}
                <table class="centered">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Psologie</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for medication in medications %}
                        <tr>
                            <td>{{ medication.name }}</td>
                            <td>{{ medication.dosage }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                Aucun traitement enregistré
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock %}