{% extends "base.html.twig" %}

{% block title %}Santé de {{ friendUser.pseudo }}{% endblock %}

{% block body %}

<h1>Profil santé de {{ friendUser.pseudo }}</h1>

<div class="row">
    {# Poids #}
    <div class="col s12 m8 l5">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    <span class="card-title">Poids</span>
                </div>
                <p>
                    {% if weights|length > 0 %}
                <ul class="ul-weight-container">
                    {% for weight in weights %}
                    <div class="container-flex-between">
                        <li class="dark-text">
                            Le {{ weight.date|date('d-m-Y') }} :
                        </li>
                        <span class="more-strong-txt">
                            {% if weight.weight|round(2, 'floor') == weight.weight|round(0,
                            'floor') %}
                            {{ weight.weight|round(0, 'floor') }} kg
                            {% else %}
                            {{ weight.weight }} kg
                            {% endif %}
                        </span>
                    </div>
                    <br>
                    {% endfor %}
                </ul>
                {% else %}
                Aucune donnée enregistrée pour le moment
                {% endif %}
                </p>
            </div>
        </div>
    </div>

    {# Taille #}
    <div class="col s6 m4 l4">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    <span class="card-title">Taille</span>
                </div>
                {% if height %}
                <div class="container-flex-center">
                    <h5 class="more-strong-txt">{{ formatedHeight }}</h5>
                </div>
                {% else %}
                Non renseignée
                {% endif %}
            </div>
        </div>
    </div>

    {# IMC #}
    {% include "common/imc.html.twig" %}
</div>


<div class="row">
    {# Vaccins #}
    <div class="col s12 m12 l12">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    <span class="card-title">Vaccins</span>
                </div>
                <p>
                    {% if vaccines|length > 0 %}
                <ul class="ul-vaccine-container">
                    {% for vaccine in vaccines %}
                    <div class="container-flex-between">
                        <li class="dark-text">
                            {{ vaccine.vaccineDate|date('m/Y') }} :
                        </li>
                        <li class="more-strong-txt">
                            {{ vaccine.title }}
                        </li>
                        <li class="dark-text">
                            Rappel : {{ vaccine.deadline|date('m/Y') }}
                        </li>
                    </div>
                    <br>
                    {% endfor %}
                </ul>
                {% else %}
                Aucune donnée enregistrée pour le moment
                {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {# Groupe sanguin #}
    <div class="col s6 m4 l3">
        <div class="card white">
            <div class="card-content dark-text">
                <div class="container-flex-between">
                    <span class="card-title">Groupe sanguin</span>
                </div>
                {% if bloodType %}
                <div class="container-flex-center">
                    <h5 class="more-strong-txt">{{ bloodType.value }}</h5>
                </div>
                {% else %}
                Non disponible
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}