{% extends 'base.html.twig' %}

{% block title %}{{ friendUser.pseudo }}{% endblock %}

{% block body %}

<h1>Profil de {{ friendUser.pseudo }}</h1>

<div class="row">
    {# Journal #}
    <div class="col s12 m6">
        <div class="card white">
            <div class="card-content dark-text">
                <span class="card-title">Journal</span>
                {% if friendUser.book.visibility == true %}
                <p>Ceci est le journal publique de {{ friendUser.pseudo }}.</p>
                {% else %}
                <p>La visibilité du journal de {{ friendUser.pseudo }} est privée.</p>
                {% endif %}
            </div>
            <div class="card-action">
                {% if friendUser.book.visibility == true %}
                <a href="{{ path('book_friend', {'friend':friendUser.id}) }}" class="">Visiter</a>
                {% endif %}
            </div>
        </div>
    </div>

    {# Dates #}
    <div class="col s12 m6">
        <div class="card white">
            <div class="card-content dark-text">
                <span class="card-title">Dates</span>
                {% if friendUser.datesContainer.visibility == true %}
                <p>Dates des évènements clés de {{ friendUser.pseudo }}.
                    {% else %}
                <p>La visibilité des dates de {{ friendUser.pseudo }} est privée.</p>
                {% endif %}
            </div>
            <div class="card-action">
                {% if friendUser.datesContainer.visibility == true %}
                <a href="{{ path('dates_friend', {'friend':friendUser.id}) }}" class="">Visiter</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{# Humeur #}
<div class="row">
    <div class="col s12 m12">
        <div class="card white">
            <div class="card-content dark-text">
                <span class="card-title">Humeur</span>
                {% if friendUser.moodContainer.visibility == true %}
                <p>Carnet d'humeur de {{ friendUser.pseudo }}.
                    {% else %}
                <p>La visibilité du carnet d'humeur de {{ friendUser.pseudo }} est privée.</p>
                {% endif %}
            </div>
            <div class="card-action">
                {% if friendUser.moodContainer.visibility == true %}
                <a href="{{ path('mood_friend', {'friend':friendUser.id}) }}" class="">Visiter</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">

    {# Santé #}
    <div class="col s4">
        <div class="card white">
            <div class="card-content dark-text">
                <span class="card-title">Santé</span>
                {% if friendUser.moodContainer.visibility == true %}
                <p>Carnet d'humeur de {{ friendUser.pseudo }}.
                    {% else %}
                <p>La visibilité du carnet d'humeur de {{ friendUser.pseudo }} est privée.</p>
                {% endif %}
            </div>
            <div class="card-action">
                {% if friendUser.moodContainer.visibility == true %}
                <a href="#" class="">Visiter</a>
                {% endif %}
            </div>
        </div>
    </div>

    {# Idéees #}
    <div class="col s4">
        <div class="card white">
            <div class="card-content dark-text">
                <span class="card-title">Idées</span>
                {% if friendUser.moodContainer.visibility == true %}
                <p>Carnet d'humeur de {{ friendUser.pseudo }}.
                    {% else %}
                <p>La visibilité du carnet d'humeur de {{ friendUser.pseudo }} est privée.</p>
                {% endif %}
            </div>
            <div class="card-action">
                {% if friendUser.moodContainer.visibility == true %}
                <a href="#" class="">Visiter</a>
                {% endif %}
            </div>
        </div>
    </div>

    {# Projets #}
    <div class="col s4">
        <div class="card white">
            <div class="card-content dark-text">
                <span class="card-title">Projets</span>
                {% if friendUser.moodContainer.visibility == true %}
                <p>Carnet d'humeur de {{ friendUser.pseudo }}.
                    {% else %}
                <p>La visibilité du carnet d'humeur de {{ friendUser.pseudo }} est privée.</p>
                {% endif %}
            </div>
            <div class="card-action">
                {% if friendUser.moodContainer.visibility == true %}
                <a href="#" class="">Visiter</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}