{% extends 'base.html.twig' %}

{% block title %}Humeur{% endblock %}

{% block body %}
<blockquote>
    Voici votre carnet d'humeur personnel. Faites savoir à vos amis ou à vous-même combien la vie est rude au réveil !
</blockquote>

<div class="auto-margin-container">
    <div class="container-flex-between-bottom">
        <h1>Carnet d'humeur</h1>
        <a href="{{ path('mood_new') }}" class="custom-btn">Créer une humeur</a>
    </div>

    {% if moods %}
    <ul class="collapsible">
        {% for mood in moods %}
        <li>
            <div class="collapsible-header container-flex-between">
                <h5>
                    {{ mood.date|format_datetime('full', 'none', locale='fr') }}
                </h5>

                {# Emoticones #}
                {% if 'Joyeux' == mood.dayMood %}
                <img src="{{ asset('assets/icons/joy.png') }}" alt="emoticon" class="mood-emoticon">
                {% elseif 'Neutre' == mood.dayMood %}
                <img src="{{ asset('assets/icons/neutral.png') }}" alt="emoticon" class="mood-emoticon">
                {% elseif 'Fatigué' == mood.dayMood %}
                <img src="{{ asset('assets/icons/tired.png') }}" alt="emoticon" class="mood-emoticon">
                {% elseif 'Anxieux' == mood.dayMood %}
                <img src="{{ asset('assets/icons/anxious.png') }}" alt="emoticon" class="mood-emoticon">
                {% elseif 'Déprimé' == mood.dayMood %}
                <img src="{{ asset('assets/icons/depressed.png') }}" alt="emoticon" class="mood-emoticon">
                {% endif %}

            </div>
            <div class="collapsible-body">
                <span>
                    <strong class="more-strong-txt">Qualité de l'endormissement : </strong>
                    <span class="span-txt span-mood-txt">{{ mood.fallingAsleep }}</span>
                    <br>
                    <strong class="more-strong-txt">Qualité du sommeil : </strong>
                    <span class="span-txt span-mood-txt">{{ mood.sleep }}</span>
                    <br>
                    <strong class="more-strong-txt">Humeur au réveil : </strong>
                    <span class="span-txt span-mood-txt">{{ mood.morningMood }}</span>
                    <br>
                    <strong class="more-strong-txt">Programme du jour : </strong>
                    <span class="span-txt span-mood-txt">{{ mood.dayProgram }}</span>
                    <br>
                    <strong class="more-strong-txt">Ressenti sur la journée : </strong>
                    <span class="span-txt span-mood-txt">{{ mood.dayFeeling }}</span>
                    <br>
                    <strong class="more-strong-txt">Humeur pendant la journée : </strong>
                    <span class="span-txt span-mood-txt">{{ mood.dayMood }}</span>
                    <br>
                    <br>
                    <div class="btn-control-flex">
                        <a href="{{ path('mood_edit', {id:mood.id}) }}"><i
                                class="material-icons">sync</i></a>
                        <div class="margin-left-20"></div>
                        <a href="{{ path('mood_delete', {'id':mood.id}) }}"
                            onclick="return confirm('Supprimer cet élément ?');"><i
                                class="material-icons red-text">delete_forever</i></a>
                    </div>
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>

    {% else %}

    <h6>Vous n'avez pas d'humeur enregistrée.</h6>
</div>
<br>
{% endif %}

<!-- Modal Structure -->
<div id="modal-mood-index" class="modal">
    <div class="modal-content">
        <h4>Gérez votre humeur</h4>
        <p>
            Le carnet d'humeur est un outil introspectif et réflexif qui permet à chacun de consigner ses émotions et
            sentiments quotidiens. Enregistrement des nuances de chaque journée, il capture des éléments tels que la
            qualité de l'endormissement, l'humeur au réveil, le programme prévu pour la journée et le ressenti global
            sur les événements vécus. En offrant un espace pour exprimer et analyser ces aspects de notre vie, le carnet
            d'humeur nous permet de mieux comprendre nos états émotionnels, de suivre notre évolution personnelle et
            d'identifier des schémas récurrents, contribuant ainsi à une meilleure gestion de notre bien-être mental et
            émotionnel.
        </p>
    </div>
    <div class="modal-footer">
        <a href="{{ path('mood_new') }}" class="custom-btn"> <i class="material-icons dark-text">add</i>Créer une
            humeur</a>
        <a href="#!" class="modal-close custom-btn">Ok</a>
    </div>
</div>

{% if not moods %}
<script>
    // Ouvre la modal informative si aucune Routine
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
        var instance = M.Modal.getInstance(document.getElementById('modal-mood-index'));
        instance.open();
    });
</script>
{% endif %}
{% endblock %}