{% extends 'base.html.twig' %}

{% block title %}Mood{% endblock %}

{% block body %}
    <h1>Mood</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mood.id }}</td>
            </tr>
            <tr>
                <th>DayMood</th>
                <td>{{ mood.dayMood }}</td>
            </tr>
            <tr>
                <th>Sleep</th>
                <td>{{ mood.sleep }}</td>
            </tr>
            <tr>
                <th>MorningMood</th>
                <td>{{ mood.morningMood }}</td>
            </tr>
            <tr>
                <th>DayProgram</th>
                <td>{{ mood.dayProgram }}</td>
            </tr>
            <tr>
                <th>DayFeeling</th>
                <td>{{ mood.dayFeeling }}</td>
            </tr>
            <tr>
                <th>FallingAsleep</th>
                <td>{{ mood.fallingAsleep }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mood_index') }}">back to list</a>

    <a href="{{ path('mood_edit', {'id': mood.id}) }}">edit</a>

    {{ include('mood/_delete_form.html.twig') }}
{% endblock %}
