<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {% if app.user %}
        <li><a href="{{ path('book_show', {id:app.user.book.id}) }}">Journal</a></li>
        <li><a href="{{ path('file_index') }}">Images</a></li>
        {% else %}
          <li><a href="{{ path('login') }}"></a></li>
        {% endif %}
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    {% if app.user %}
    <li><a href="{{ path('book_show', {id:app.user.book.id}) }}">Journal</a></li>
    <li><a href="{{ path('file_index') }}">Images</a></li>
    {% else %}
      <li><a href="{{ path('login') }}"></a></li>
    {% endif %}
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>