<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  {% if app.user %}
  <li><a href="{{ path('logout') }}">Logout</a></li>
  {% else %}
  <li><a href="{{ path('login') }}">Login</a></li>
  <li><a href="{{ path('register') }}">Register</a></li>
  {% endif %}
</ul>

<nav>
  <div class="nav-wrapper">
    <a href="{{ path('home') }}" class="brand-logo"><i class="large material-icons right">home</i></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      {% if app.user %}
      <li><a href="{{ path('book_show', {id:app.user.book.id}) }}">Journal</a></li>
      <li><a href="#">Humeur</a></li>
      <li><a href="#">Santé</a></li>
      <li><a href="{{ path('date_index') }}">Dates</a></li>
      <li><a href="#">Idées</a></li>
      <li><a href="#">Projets</a></li>
      {% endif %}
      <li><a href="{{ path('file_index') }}">Fichiers</a></li>

      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons right">person</i></a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  {% if app.user %}
  <li><a href="{{ path('book_show', {id:app.user.book.id}) }}">Journal</a></li>
  <li><a href="{{ path('logout') }}">Logout</a></li>
  {% else %}
  <li><a href="{{ path('login') }}">Login</a></li>
  <li><a href="{{ path('register') }}">Register</a></li>
  {% endif %}
</ul>