<!-- Dropdown Structure -->
<ul id="dropdown-user" class="dropdown-content dropdown-nav">
  {% if app.user %}
  <li><a href="{{ path('parameters') }}">Paramètres</a></li>
  <li><a href="{{ path('logout') }}">Déconnexion</a></li>
  {% else %}
  <li><a href="{{ path('login') }}">Connexion</a></li>
  <li><a href="{{ path('register') }}">S'enregistrer</a></li>
  {% endif %}
</ul>

<ul id="dropdown-tools" class="dropdown-content dropdown-nav">
  <li><a href="{{ path('routine_index') }}">Routines</a></li>
  {# <li><a href="#">Méditation</a></li>
  <li><a href="#">Respiration</a></li>
  <li><a href="#">Gestion du stress</a></li> #}
  <li><a href="{{ path('quotes') }}">Citations</a></li>
</ul>

<nav class="nav">
  <div class="nav-wrapper">
    <a href="{{ path('home') }}" class="brand-logo"><i class="large material-icons right">home</i></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      {% if app.user %}
      <li><a href="{{ path('book_show', {id:app.user.book.id}) }}">Journal</a></li>
      <li><a href="{{ path('mood_index') }}">Humeur</a></li>
      <li><a href="{{ path('health_index') }}">Santé</a></li>
      <li><a href="{{ path('date_index') }}">Dates</a></li>

      <!-- Dropdown Trigger -->
      {% if invitations %}
      <li><a href="{{ path('contacts') }}">Contacts <span class="friendRequest">*</span></a></li>
      {% else %}
      <li><a href="{{ path('contacts') }}">Contacts</a></li>
      {% endif %}
      {% endif %}

      <li><a class="dropdown-trigger" href="#!" data-target="dropdown-tools">Outils</a>
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown-user"><i
            class="material-icons right">person</i></a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  {% if app.user %}
  <li><a href="{{ path('book_show', {id:app.user.book.id}) }}">Journal</a></li>
  <li><a href="{{ path('mood_index') }}">Humeur</a></li>
  <li><a href="{{ path('health_index') }}">Santé</a></li>
  <li><a href="{{ path('date_index') }}">Dates</a></li>
  <li><a href="{{ path('routine_index') }}">Routines</a></li>
  <li><a href="{{ path('quotes') }}">Citations</a></li>
  <div class="divider"></div>
  <li><a href="{{ path('contacts') }}">
      {% if invitations %}
      Contacts <span class="friendRequest">*</span>
      {% else %}
      Contacts
      {% endif %}
    </a></li>
  <div class="divider"></div>
  <li><a href="{{ path('parameters') }}">Paramètres</a></li>
  <div class="divider"></div>
  <li><a href="{{ path('logout') }}">Déconnexion</a></li>
  {% else %}
  <li><a href="{{ path('login') }}">Connexion</a></li>
  <li><a href="{{ path('register') }}">S'enregistrer</a></li>
  {% endif %}
</ul>